html {
    background-color: aliceblue;
    text-align: center;
}

#form {
    width: 50vw;
    text-align: center;
    justify-content: center;
}
#submit {
    width: 50vw;
}
#msg {
    color: red;
}
i {
    cursor: pointer;
  }