body {
    margin: 0;
    background-color: #4D5061;
}
.topnav {
    background-color: #5C80BC;
    overflow: hidden;
    width: 100vw;
}
.topnav a {
    float: left;
    color: #CDD1C4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  
#myForm {
    display: none;
    position: fixed;
    bottom: 50vh;
    right: 25vw;
    left: 25vw;
    border-radius: 25PX;
    background-color: #CDD1C4;
    border: 3px solid #f1f1f1;
    z-index: 9;
}
.openForm {
    background-color: #b9b6e7;
    color: black;
    padding: 5px;
    margin-left: 30vw;
    margin-right: 30vw;
    width: 40vw;
}

#form {
    width: 50vw;
    text-align: center;
    margin: auto;
}

fieldset, button {
    border-radius: 25px;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 0%;
}
#submit {
    width: 20vw;
}
#msg {
    color: red;
}
i {
    cursor: pointer;
  }
#bookCollection {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
    
}
#bookCollection > #bookItem {
    display: flex;
    width: 250px;
    height: 200px;
}
#book {
    display: grid;
    border-radius: 25px;
    background-color: #CDD1C4;
    margin: 5px;
    width: 250px;;
    grid-template-areas:    
    "title title"
    "by author"
    "options options";
}
#book > p {
    text-overflow: initial;
    word-break: break-all;
    padding: 2px;

}


#titleGrid {
    grid-area: title;
    font-style: italic;
    text-align: center;
}

#authorGrid {
    grid-area: author;
    text-align: left;
}
#byGrid {
    grid-area: by;
    text-align: right;
    padding-right: 5px;
}
.options i {
    margin-inline: 1vw;
    margin-bottom: 1vh;  
}
.options {
    grid-area: options;
    text-align: center;
}