html {
    background-color: aliceblue;
    text-align: center;
}

#form {
    width: 50vw;
    text-align: center;
    margin: auto;
}
fieldset, button {
    border-radius: 25px;
}
#submit {
    width: 20vw;
}
#msg {
    color: red;
}
i {
    cursor: pointer;
  }
#bookCollection div {
    
    width: 30vw;
    border-radius: 25px;
    background-color: rgb(10, 181, 181);
    margin: auto;
}


.options i {
    margin-inline: 2vw;
    margin-bottom: 1vh;
}